extends ./../layouts/main.pug

block title
  h1 Order Confirmation for Supplier

block description
  p We are writing to confirm that we have sent our order. Please review the following details:

  div(style="border:2px solid #2f5acf; padding:8px 16px; border-radius:16px; margin-top:16px")
        p(style="margin:10px 0 20px; font-weight:bold;font-size:20px")
            | Order Information

        table(cellpadding="0" cellspacing="0" border="0" width="100%")
            tr
                td(valign="top" style="text-align: start; padding-right: 10px; font-size:16px")
                    p(style="margin:10px 0;font-weight:bold") Supplier Details
                    p(style="margin:10px 0") Supplier Name: #{supplier.supplier_name}
                    p(style="margin:10px 0") Supplier Address: #{supplier.address}
                    p(style="margin:10px 0") 
                        | Email: 
                        a(href=`mailto:${supplier.email}` target="_blank")= supplier.email
                    p(style="margin:10px 0") Phone Number: #{supplier.phone}

                td(valign="top" style="text-align: start; padding-left: 10px; font-size:16px")
                    p(style="margin:10px 0;font-weight:bold") Order Details
                    p(style="margin:10px 0") Order By: #{user.first_name} #{user.last_name}
                    p(style="margin:10px 0") 
                        | Email: 
                        a(href=`mailto:${user.email}` target="_blank")= user.email
                    p(style="margin:10px 0") Phone Number: #{user.phone}

  p Please process this order according to our agreed terms. 
  p If you have any questions or concerns, please don't hesitate to contact us.

